{% extends('layout.html.twig') %}

{% block content %}
  <div class="container containerMenu my-4">
    <div class="row justify-content-end">
      <div class="menu col-6">
        <div class="imgMainName"></div>
      </div>
      <div class="col-6 my-4">
        <div class="row">
          <div class="col">
            <button type="button" id="controller" class="btn btn-success btn-circle"><i class="fas fa-map"></i>II</button>
          </div>
          <div class="col">
            <a href="records.php"><button type="button" class="btn btn-info buttonIndex">Таблица рекордов</button></a>
          </div>
          <div class="col">
            <a href="index.php"><button type="button" class="btn btn-danger buttonIndex">Выйти</button></a>
          </div>
          <div class="col-2"> </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col align-self-center count col-6">
        <div class="pointIndex">Счет: <span id="counter" class="counter"></span></div>
      </div>
      <div class="col align-self-center"></div>
    </div>
    <audio id="audio" autoplay loop>
        <source src="./audio/music.mp3" type="audio/mpeg">
    </audio>
    <div class="container containerCanvas">
      <canvas id="Canvas"></canvas>
    </div>

      {% include "popup_pause_game.html.twig" %}
      {% include "popup_end_game.html.twig" %}

  </div>
  <script type="module" src="web/js/main.js"></script>

{% endblock %}
