{% extends('layout.html.twig') %}

{% block content %}
    <div class="container containerMainPage my-5">
            <div class="row justify-content-end">
                <div class="col-6 headerMain">
                    <div class="imgMainName"></div>
                </div>
                <div class="col-6">
                    <a href="login.php"><button type="button btn-sm btn-success" class="btn btn-success btn-lg float-right">Играть</button></a>
                    {% if isUserLogin %}
                        <a href="exit.php"><button type="button btn-sm btn-danger" class="btn btn-danger btn-lg float-right">Выйти из учетки</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container containerMainPage">
            <div class="row justify-content-between">
                <div class="col-md-5">
                    <h2>Как играть</h2>
                    Экран игры представляет собой лабиринт, в коридорах которого находятся бонусы. Задача игрока: управляя
                    Пакманом, съесть все бонусы в лабиринте, избегая встречи с привидениями, которые носятся по лабиринту.
                    В начале игры призраки спавнятся в рандомных местах карты и начинают бегать. После съедения всех бонусов,
                    появляется их новая порция в других местах, и игра продолжается. Пакман реальный, поэтому если привидение
                    дотронется до него, он умирает, и игра заканчивается. После набора каждых 300 очков появляется еще один
                    призрак и остаться в живых становится все сложнее.
                </div>
                <div class="col-md-6">
                    <div class="imgMainPage"></div>
                </div>
            </div>
        </div>

{% endblock %}

