<!DOCTYPE html>
<html>
  <head>
    {% include 'head.twig' with {title: block('title')}%}
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      {% include 'header.twig' %}
    </div>
    
    <div id="headerwrap">
      <div  class="container">
        {% block content %}
        {% endblock %}
      </div>
      
      <div class="container">
        {% block pagination %}
        {% endblock %}
      </div>
  
    </div>
    <div>
      {% include 'footer.twig' %}
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
    {% if pageName == 'book'%}
      <script src="js/like.js"></script>
      <script src="js/freezeButton.js"></script>  
    {% endif %}
    {% if pageName == 'edit_data'%}
      <script src="js/deleteAvatar.js"></script>
      <script src="js/loadAvatar.js"></script>
      <script src="http://bootboxjs.com/bootbox.js"></script>
    {% endif %}
    
  </body>
</html>