<!DOCTYPE html>
<html lang="ru">
    <head>
        {% block head %}
            {% include("common/common_head.twig") %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
            
        {% block javascripts %}
            {% include("common/common_js.twig") %}
        {% endblock %}
    </body>
</html>