{% extends "layout.twig" %}

{% block title %}
  {{ titleText }}
{% endblock %}

{% block content %}
    {% include 'message.twig' %}
        <div class="row">
          <div class="col-md-5">
            <form action="actions/auth_user.php" method="post">
              <h3>Вход в учетную запись</h3>
              <div class="form-group" >
                <label for="email_login">E-mail</label>
                <input type="email" class="form-control" id="email_login" placeholder="Введите e-mail" name="email" autocomplete="off" required>
              </div>
              
              <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" placeholder="Введите пароль" name="pass" required>
              </div>
              <button type="submit" class="btn btn-success">Войти</button>
            </form>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-5">
            <form action="actions/create_new_user.php" method="post">
              <h3>Регистрация новой учетной записи</h3>
              <div class="form-group">
                <label for="email_registration">E-mail</label>
                <input type="email" class="form-control" id="email_registration" placeholder="Введите e-mail" name="email" autocomplete="off" required>
              </div>
              <div class="form-group">
                <label for="password_registration">Придумайте пароль</label>
                <input type="password" class="form-control" id="password_registration" placeholder="Введите пароль" name="pass1" required>
                <span class="text-info">Чувствителен к регистру</span>
              </div>
              <div class="form-group">
                <label for="password_registration_again">Повторите пароль</label>
                <input type="password" class="form-control" id="password_registration_again" placeholder="Еще раз введите пароль"  name="pass2" required>
              </div>
              <div class="form-group">
                <label for="userName">Ваше имя</label>
                <input type="text" class="form-control" id="userName" placeholder="Введите имя"  name="name" autocomplete="off" required>
              </div>
              <div class="form-group">
                <label for="userSubName">Ваша фамилия</label>
                <input type="text" class="form-control" id="userSubName" placeholder="Введите фамилия"  name="subname" autocomplete="off" required>
              </div>
              <button type="sumbit" class="btn btn-success">Зарегистрироваться</button>
            </form>
          </div>
        </div>    
    
{% endblock %}