<div class="modal-sm modal fade show modal_window" id="winMod" tabindex="-1" data-keyboard="true" role="dialog" aria-labelledby="winModLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content stars">
            <div class="modal-body">
                <h1>Pause</h1>
            </div>
            <div class="modal-footer">
                <button type="button" id="exitGameBnt" class="btn btn-success" onclick = "window.location = 'game.php'">Продолжить игру</button>
                <button type="button" id="stayInGameBnt" class="btn btn-danger" onclick = "window.location = 'index.php'">Выход</button>
            </div>
        </div>
    </div>
</div>
