<div class="modal-sm modal fade show modal_window" id="winModal" tabindex="-1" data-keyboard="true" role="dialog" aria-labelledby="winModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content stars">
            <div class="modal-body">
                <h1>Game over!</h1>
                <p>
                    <a href="records.php"><button type="button" class="btn btn-link">Посмотреть результаты</button></a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="exitGameBnt" class="btn btn-success" onclick = "window.location = 'game.php'">Играть заново</button>
                <button type="button" id="stayInGameBnt" class="btn btn-danger" onclick = "window.location = 'index.php'">Выход</button>
            </div>
        </div>
    </div>
</div>
