{% extends('layout.html.twig') %}

{% block content %}

    <div class="container ">
        <div class="row">
            <h2>Лучшие результаты</h2>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="container containerMainPage">
                <table class="table col-sm-8">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Логин</th>
                        <th>Очки</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in records %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.score }}</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <button type="button" class="btn btn-success  btn-block buttonIndex" onclick="window.location = 'game.php'">Вернуться в игру</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger  btn-block buttonIndex" onclick="window.location = 'index.php'">Выйти</button>
            </div>
        </div>
    </div>
{% endblock %}