html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    height:100vh;
    overflow: hidden;
}

h2 {
    color: green;
}

 Canvas {
    display: flex;
    margin: 0 auto 20px;
    background-color: #444;
}

 .pointIndex {
     font: 600 24px/28px "Open Sans";
     color: aqua;
     font-size: 24px;
     text-align: center;
 }

.counter {
    color: yellow;
    font-size: 30px;
}

.headerMain {
    height: 100px;
}

.containerMainPage {
    font-size: 18px;
    line-height: 24px;
    color: yellow;
}

.mainTitle {
    font: 900 60px/68px "Open Sans";
    color: aqua;
    margin-left: 110px;
}

.centr {
    position: absolute;
    z-index: 1;
    top: 20vh;
    left: 35vw;
}

.buttonMain {
    float: right;
    padding: 14px 30px;
    margin: 20px;
    font-size: 20px;
}

.buttonIndex {
    padding: 8px 25px;
    font-size: 20px;
}

.buttonRecord {
    padding: 10px 12px;
    font-size: 20px;
    width: auto;
}

.buttonInGame {
    padding: 8px 4px;
    font-size: 18px;
}

.buttonlogin {
    margin-top: 16px;
}

.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    /* text-align: center; */
    padding: 0;
    font-size: 28px;
    font-weight: bold;
}

a:hover {
    color: transparent;
    text-decoration: none;
}

.menu {
    font-size: 16px;
    color: yellow;
}

.contentTop {
    display: block;
    top: 0;
    width: 100%;
    height: 20%;
}

.contentCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.contentBottom {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
    width: 100%;
    height: 20%;
}

.imgMainPage {
    background: url("../image/pacman.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.imgMainName {
    background: url("../image/pacman1.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: contain;
}

[hidden] {
    display: none !important;
}

.btn-file input[type=file] {
    position: inherit;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.table td, .table th {
    padding: .66rem;
}

.userName {
    font-size: 20px;
    margin-bottom: 5px;
}

.gray_text {
    color: gray;
}

.no_horizontal_scroll {
    overflow-x: hidden;
}

.date_text {
    font-size: 12px;
    color: gray;
}

.modal_window {
    color: grey;
    margin: 0 auto;
    width: 60%;
}

.no_visible {
    visibility: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 800px;
    }

    .navbar-brand {
        display: none;
    }

    .add_comment_area {
        height: 210px;
    }
}

@media only screen and (max-width: 766px) {
    .add_comment_area {
        height: 210px;
    }

    .button_group {
        width: 230px;
    }
}